body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-image: url(https://raw.githubusercontent.com/SeyedehParisaMousaviamiri/HYF-MemoryGame/refs/heads/main/Img/d680c34a-ca05-4c49-9b9e-8ed821dd8d90.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

html {
    height: 100%;
}

h1 {
    font-size: 40px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-weight: bold;
    color: #2e4232;
    margin-bottom: 20px; 
    margin-top: -20px;
}

button {
    padding: 10px 20px;
    background-color: #668f6f;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #557a57; 
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 150px;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}